<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <!--
        These event handlers send messages to Slack using an incoming webhook.
        Feel free to add or remove event handlers to tune it more to your needs.
        You can also change the messages that are displayed in Slack here.
      -->
      <event name="item:locked">
        <handler type="Sitecore.Slack.IncomingWebhookForEvents.EventHandlerItemBased, Sitecore.Slack.IncomingWebhookForEvents" method="OnEventFired">
          <MessageTemplate>Locked item &lt;{item_edit_url}|{item_path}&gt; (id={item_id})</MessageTemplate>
        </handler>
      </event>
      <event name="item:unlocked">
        <handler type="Sitecore.Slack.IncomingWebhookForEvents.EventHandlerItemBased, Sitecore.Slack.IncomingWebhookForEvents" method="OnEventFired">
          <MessageTemplate>Unlocked item &lt;{item_edit_url}|{item_path}&gt; (id={item_id})</MessageTemplate>
        </handler>
      </event>
      <event name="item:added">
        <handler type="Sitecore.Slack.IncomingWebhookForEvents.EventHandlerItemBased, Sitecore.Slack.IncomingWebhookForEvents" method="OnEventFired">
          <MessageTemplate>Added item &lt;{item_edit_url}|{item_path}&gt; (id={item_id})</MessageTemplate>
        </handler>
      </event>
      <event name="item:copied">
        <handler type="Sitecore.Slack.IncomingWebhookForEvents.EventHandlerItemBased, Sitecore.Slack.IncomingWebhookForEvents" method="OnEventFired">
          <MessageTemplate>Copied item &lt;{item_edit_url}|{item_path}&gt; (id={item_id}) to &lt;{item_edit_url_2}|{item_path_2}&gt; (id={item_id_2})</MessageTemplate>
        </handler>
      </event>
      <event name="item:deleted">
        <handler type="Sitecore.Slack.IncomingWebhookForEvents.EventHandlerItemDeleted, Sitecore.Slack.IncomingWebhookForEvents" method="OnEventFired">
          <MessageTemplate>Deleted item {item_path} (id={item_id})</MessageTemplate>
        </handler>
      </event>
      <event name="item:moved">
        <handler type="Sitecore.Slack.IncomingWebhookForEvents.EventHandlerItemMoved, Sitecore.Slack.IncomingWebhookForEvents" method="OnEventFired">
          <MessageTemplate>Moved item from {item_path_2} (id={item_id_2}) to &lt;{item_edit_url}|{item_path}&gt; (id={item_id})</MessageTemplate>
        </handler>
      </event>
      <event name="item:renamed">
        <handler type="Sitecore.Slack.IncomingWebhookForEvents.EventHandlerItemRenamed, Sitecore.Slack.IncomingWebhookForEvents" method="OnEventFired">
          <MessageTemplate>Renamed item {item_name_2} to &lt;{item_edit_url}|{item_path}&gt; (id={item_id})</MessageTemplate>
        </handler>
      </event>
      <!-- Disabled because it's just a bit too much -->
      <!--<event name="item:saved">
        <handler type="Sitecore.Slack.IncomingWebhookForEvents.EventHandlerItemBased, Sitecore.Slack.IncomingWebhookForEvents" method="OnEventFired">
          <MessageTemplate>{user_display_name} saved item &lt;{item_edit_url}|{item_path}&gt; (id={item_id})</MessageTemplate>
        </handler>
      </event>-->
      <event name="publish:begin">
        <handler type="Sitecore.Slack.IncomingWebhookForEvents.EventHandlerPublish, Sitecore.Slack.IncomingWebhookForEvents" method="OnEventFired">
          <MessageTemplate>Started a publish of item &lt;{item_edit_url}|{item_path}&gt; (id={item_id}) - Mode {publish_mode} in language {publish_language} {publish_descendants} and {publish_related_items} ({publish_source} to {publish_target})</MessageTemplate>
        </handler>
      </event>
      <event name="publish:end">
        <handler type="Sitecore.Slack.IncomingWebhookForEvents.EventHandlerPublish, Sitecore.Slack.IncomingWebhookForEvents" method="OnEventFired">
          <MessageTemplate>Publish ended</MessageTemplate>
        </handler>
      </event>
      <event name="packageinstall:items:starting">
        <handler type="Sitecore.Slack.IncomingWebhookForEvents.EventHandlerPackageInstall, Sitecore.Slack.IncomingWebhookForEvents" method="OnEventFired">
          <MessageTemplate>Started package installation with {package_item_count} items</MessageTemplate>
        </handler>
      </event>
      <event name="packageinstall:items:ended">
        <handler type="Sitecore.Slack.IncomingWebhookForEvents.EventHandlerPackageInstall, Sitecore.Slack.IncomingWebhookForEvents" method="OnEventFired">
          <MessageTemplate>Package installation ended</MessageTemplate>
        </handler>
      </event>
    </events>
    <settings>
      <!--
        Add an incoming webhook (https://api.slack.com/incoming-webhooks) to your Slack team.
        Then enter the url that Slack gives you in this setting.
      -->
      <setting name="Sitecore.Slack.IncomingWebhookForEvents.BaseUrl" value=""/>
      
      <!--
        The user name that is displayed in Slack as the source.
      -->
      <setting name="Sitecore.Slack.IncomingWebhookForEvents.UserName" value="Sitecore"/>
      
      <!--
        The icon that is displayed next to the message.
        Choose one from here: http://www.emoji-cheat-sheet.com/
      -->
      <setting name="Sitecore.Slack.IncomingWebhookForEvents.IconEmoji" value=":copyright:"/>
      
      <!--
        |-separated list of item paths for which to hook events into.
        If changes are made outside of these item paths, they will not be reported to Slack.
      -->
      <setting name="Sitecore.Slack.IncomingWebhookForEvents.ItemBasedPathIncludes" value="/sitecore/content|/sitecore/media library"/>
    </settings>
  </sitecore>
</configuration>